fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
langchain-text-splitters
unstructured[all-docs]
pydantic-settings
python-magic-bin; platform_system == 'Windows'
python-magic; platform_system != 'Windows'
pymilvus[milvus_lite]
openai
langchain
langchain-openai
